<h2>REST API</h2>

<p>The Gene Network REST API provides programmatic access to read Gene Network data.
No authorization is needed. Responses are available in JSON format. When
using the data in a publication, please cite XXX.</p>

<h2>Resources</h2>

<h3>Gene</h3>

<p><code>GET <%= sails.config.version.mainUrl %>/api/gene/<strong>geneName</strong></code></p>

<p>Returns information about a given gene. Ensembl BioMart
annotations, annotated pathways and predicted pathways are
returned. If <strong>db</strong> parameter is given, predictions for
all pathways in the given database are returned. Otherwise
significantly predicted pathways for all databases are
returned. <strong>geneName</strong> can be either an official gene
name or an Ensembl identifier.</p>

<h4>Parameters</h4>

<p><strong>db</strong> (optional): specifies the database for which
annotations and predictions are returned</p>

<h4>Example</h4>

<p><code>GET <%= sails.config.version.mainUrl %>/api/gene/rps27l?db=GO:CC</code></p>
<p><pre><code>{
  "comment": "Gene Network | Department of Genetics, University Medical Center Groningen | genenetwork.nl",
  "version": "0.1",
  "gene": {
    "id": "ENSG00000185088",
    "name": "RPS27L",
    "biotype": "protein_coding",
    "chr": "15",
    "start": 63418071,
    "stop": 63450220,
    "strand": -1,
    "description": "ribosomal protein S27-like [Source:HGNC Symbol;Acc:18476]",
    "biomartRelease": "V71",
    "assemblyRelease": "GRCh37"
  },
  "pathways": {
    "annotated": [
      {
        "database": "GO:CC",
        "term": "GO:0005840"
      }
    ],
    "predicted": [
      {
        "database": "GO:CC",
        "term": "GO:0005763",
        "zScore": 5.362,
        "pValue": 8.2e-8
      },
      {
        "database": "GO:CC",
        "term": "GO:0000314",
        "zScore": 5.362,
        "pValue": 8.2e-8
      },

      ...

    ]
  }
}</code></pre></p>

<h3>Pathway</h3>

<p><code>GET <%= sails.config.version.mainUrl %>/api/pathway/<strong>pathwayID</strong></code></p>

<p>Returns information about a given pathway. Annotated genes and prediction scores for all genes are returned.</p>

<h4>Example</h4>

<p><code>GET <%= sails.config.version.mainUrl %>/api/pathway/GO:0000302</code></p>
<p><pre><code>{
  "comment": "Gene Network | Department of Genetics, University Medical Center Groningen | genenetwork.nl",
  "version": "0.1",
  "pathway": {
    "database": "GO:BP",
    "id": "GO:0000302",
    "name": "response to reactive oxygen species",
    "numAnnotatedGenes": 153,
    "auc": 0.81,
    "url": "http://amigo.geneontology.org/cgi-bin/amigo/term_details?term=GO:0000302"
  },
  "genes": {
    "annotated": [
      {
        "id": "ENSG00000002330",
        "name": "BAD"
      },
      {
        "id": "ENSG00000005381",
        "name": "MPO"
      },

      ...

    ],
    "predicted": [
      {
        "id": "ENSG00000207654",
        "name": "MIR128-1",
        "zScore": -5.397,
        "pValue": 6.8e-8
      },
      {
        "id": "ENSG00000201542",
        "name": "SNORA62",
        "zScore": -5.265,
        "pValue": 1.4e-7
      },

      ...

    ]
  }
}</code></pre></p>

<h3>Coregulation</h3>

<p><code>GET <%= sails.config.version.mainUrl %>/api/coregulation/<strong>geneName</strong></code><br/>
<code>GET <%= sails.config.version.mainUrl %>/api/coregulation/<strong>geneName1</strong>,<strong>geneName2</strong>,<strong>geneName3</strong>,...</code></p>

<p>Returns coregulation scores between genes. If one gene is given,
coregulation scores between it and all other genes are returned. If
several genes are given, coregulation scores between each pair of them
are returned. <strong>geneName</strong>s can be either official gene
names or Ensembl identifiers.</p>

<h4>Example</h4>

<p><code>GET <%= sails.config.version.mainUrl %>/api/coregulation/rps27l,brca1,brca2</code></p>
<p><pre><code>{
  "comment": "Gene Network | Department of Genetics, University Medical Center Groningen | genenetwork.nl",
  "version": "0.1",
  "data": [
    {
      "genes": [
        "ENSG00000012048",
        "ENSG00000139618"
      ],
      "correlation": 0.9069,
      "pValue": 3.5e-47,
      "zScore": 14.38
    },
    {
      "genes": [
        "ENSG00000185088",
        "ENSG00000139618"
      ],
      "correlation": 0.1282,
      "pValue": 0.081,
      "zScore": 1.402
    },
    {
      "genes": [
        "ENSG00000185088",
        "ENSG00000012048"
      ],
      "correlation": 0.1057,
      "pValue": 0.12,
      "zScore": 1.154
    }
  ]
}</code></pre></p>

<h3>Cofunction</h3>

<p><code>GET <%= sails.config.version.mainUrl %>/api/cofunction/<strong>geneName</strong></code><br/>
<code>GET <%= sails.config.version.mainUrl %>/api/cofunction/<strong>geneName1</strong>,<strong>geneName2</strong>,<strong>geneName3</strong>,...</code></p>

<p>Returns cofunctionality scores between genes. If one gene is given,
cofunctionality scores between it and all other genes are returned. If
several genes are given, cofunctionality scores between each pair of them
are returned. <strong>geneName</strong>s can be either official gene
names or Ensembl identifiers.</p>

<h4>Parameters</h4>

<p><strong>db</strong> (required): specifies the database or databases
(comma-separated) for which cofunctionality scores are calculated.</p>

<h4>Example</h4>

<p><code>GET <%= sails.config.version.mainUrl %>/api/cofunction/rps27l,brca1,brca2?db=GO:BP,GO:MF</code></p>
<p><pre><code>{
  "comment": "Gene Network | Department of Genetics, University Medical Center Groningen | http://genenetwork.nl",
  "version": "0.1",
  "data": [
    {
      "genes": [
        "ENSG00000012048",
        "ENSG00000139618"
      ],
      "correlation": 0.962
    },
    {
      "genes": [
        "ENSG00000185088",
        "ENSG00000012048"
      ],
      "correlation": 0.3874
    },
    {
      "genes": [
        "ENSG00000185088",
        "ENSG00000139618"
      ],
      "correlation": 0.3388
    }
  ]
}</code></pre></p>
